## Python Task: List
## Section 1: List

## 1. Create an empty list numbers. Append 10, 20, and 30 to it. Then change the second element to 25 and print the updated list.
### Input:
### numbers = []
### Output:
### [10, 25, 30]

In [22]:
empty_list=[]
empty_list.append(10)
empty_list.append(20)
empty_list.append(30)
print(empty_list)
empty_list[1]=25
print(empty_list)

[10, 20, 30]
[10, 25, 30]

## 2. Given a list colors, retrieve and print the first and last elements using indexing.
##### Input:
##### colors = ['red', 'blue', 'green', 'yellow']
##### Output:
##### red
##### yellow

In [34]:
colours=["red","blue","green","yellow"]
print(colours[0],colours[3])

red yellow

## 3. Slice the list fruits to extract only 'banana' and 'orange'.
##### Input:fruits = ['apple', 'banana', 'orange', 'grapes', 'mango']
##### Output:['banana', 'orange']

In [39]:
fruits=['apple','banana','orange','grapes','mango']
print(fruits[1:3])

['banana', 'orange']

## 4.Reverse the given list using slicing.
##### Input:numbers = [1, 2, 3, 4, 5]
##### Output:[5, 4, 3, 2, 1]

In [56]:
numbers=[1,2,3,4,5]
print(numbers[::-1])

[5, 4, 3, 2, 1]

### 5.Count how many times 'apple' appears in the list.
##### Input:fruits = ['apple', 'banana', 'apple', 'orange', 'apple']
##### Output:3

In [65]:
fruits=['apple', 'banana', 'apple', 'orange', 'apple']
fruits.count('apple')

3

## 6. Combine two lists into one.
##### Input:
##### list1 = [1, 2, 3]
##### list2 = [4, 5, 6]
##### Output:[1, 2, 3, 4, 5, 6]

In [69]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

## 7. Insert 'watermelon' at index 2 in the list.
### Input:fruits = ['apple', 'banana', 'orange', 'mango']
### Output:['apple', 'banana', 'watermelon', 'orange', 'mango']

In [146]:
fruits = ['apple', 'banana', 'orange', 'mango']
fruits.insert(2,'watermelon')
print(fruits)

['apple', 'banana', 'watermelon', 'orange', 'mango']

## 8. Remove 'orange' from the updated fruits list

In [148]:
fruits.remove('orange')
print(fruits)

['apple', 'banana', 'watermelon', 'mango']

## 9. Remove the third element from the updated fruits list.

In [150]:
fruits.pop(2)
print(fruits)

['apple', 'banana', 'mango']

### 10. Access 6000 from the nested list.
#### Input:nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [169]:
nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
x=(nested_list[2])
b=x[2]
c=b[1]
print(c)

6000

### 11. Add 7000 after 6000 inside the nested list.
### Input:nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
### Output:[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [181]:
nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
x=(nested_list[2])
b=x[2]
b.append(7000)
print(nested_list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### 12. Replace the first occurrence of 20 with 200.
### Input:numbers = [5, 10, 15, 20, 25, 50, 20]
### Output:[5, 10, 15, 200, 25, 50, 20]

In [202]:
numbers = [5, 10, 15, 20, 25, 50, 20]
index=numbers.index(20)
numbers[index]=200
print(numbers)

[5, 10, 15, 200, 25, 50, 20]

## 13. Find the second-largest number in a list after removing duplicates.
##### Input:numbers = [10, 20, 4, 45, 99, 99, 98]
##### Output:98

In [198]:
numbers = [10, 20, 4, 45, 99, 99, 98]
num=set(numbers)
num1=list(num)
num1.sort()
print(num1[-2])

98