# section 1 Identifiers

# 1. Run the given identifiers and categorize them into valid and invalid ones.

In [134]:
my_variable = 25
counter = 40.7
_total = "Hello"
123abc = 34
my variable =6.7
@count = "hi"
for = "True"
Name123 = 136
myFunction = True
_data = False
if_condition? = "Innomatics"
class = "Hyderabad"

SyntaxError: invalid decimal literal (3982724282.py, line 4)

# valid data

In [137]:
my_variable = 25
counter = 40.7
_total = "Hello"
Name123 = 136
myFunction = True
_data = False

# Invalid Data

In [56]:
123abc = 34
for = "True"
class = "Hyderabad"
@count = "hi"
if_condition? = "Innomatics"
my variable =6.7

SyntaxError: invalid decimal literal (1400142824.py, line 1)

# 2.Explain why Python treats some identifiers as invalid.

python is a case senitive programming language. \

Python treats some identifiers as invalid.

Due to the following reasons:

1.An identifier must start with alphabet or under score(_)

2.An Identifier shouldn't start with numeric values.

3. Key word is a reserved word, so a key word can't be used as an identifier.

4.An identifier doesn't posses any special character i.e.,@,#,$....

5.An identifier should not have any "space" between the characters.

I

By considering all the above constraints, python treats some identifiers as invalid.

# 3.Rewrite the invalid identifiers correctly.

In [63]:
my_variable = 25
counter = 40.7
_total = "Hello"
x123abc = 34
my_variable =6.7
count = "hi"
for1 = "True"
Name123 = 136
myFunction = True
_data = False
if_condition = "Innomatics"
class2 = "Hyderabad"

# 4.Assign different valid identifiers to given values.

In [74]:
num=10
num1=-5
flow=3.14159
math=-0.12345
cash=1000
hello="hello word"
lang="python"
test="i am learning"
learn="type text"
char="string"
i_s= "TRUE"
i_f="FALSE"

# section 2  Operators

# Arithmetic Operators

# 1.Define two variables and perform operations using arithmetic operators (+, -, *, /, //, %, **).

In [86]:
value1=10
value2=15
#add
print(value1+value2)
#sub
print(value2-value1)
#mulitiply
print(value1*value2)
#divison
print(value2/value1)
#floor division	
print(value2//value1)
#modulus division
print(value2%value1)
#exponentiation
print(value2**value1)

25
5
150
1.5
1
5
576650390625

# 2.You have a floor that is 95 meters long and 58.8 meter wide. Find out the total area using python and print it.

In [89]:
length=95
wide=58.8
area=length*wide
print("Total area of Rectangle is : ",area)

Total area of length and wide is :  5586.0

#  Logical Operators

### 1.Create a Python script that defines two boolean variables, is_sunny and is_warm, with appropriate values (True or False).

In [101]:
is_sunny=True
is_warm=False
print(is_sunny and is_warm)

False

### Use logical operators (and, or, not) to create the following conditions:
### Check if it's both sunny and warm and print the result.
### Check if it's either sunny or warm and print the result.
### Check if it's not sunny and print the result.

In [118]:
print(is_sunny and is_warm)
print(is_sunny or is_warm)
print(not(is_sunny and is_warm))

False
True
True

## Comparison Operators

# 1.Create a Python script that defines two variables, value1 and value2, with any numeric values.

In [ ]:
#defining the values with variables
value1=15
value2=25

##### 2.Use comparative operators (==, !=, <, >, <=, >=) to create the following conditions:
##### Check if value1 is equal to value2 and print the result.
##### Check if value1 is not equal to value2 and print the result.
##### Check if value1 is less than value2 and print the result.
##### Check if value1 is greater than value2 and print the result.
##### Check if value1 is less than or equal to value2 and print the result.
##### Check if value1 is greater than or equal to value2 and print the result.

In [130]:
print( value1 ==value2)
print( value1 !=value2)
print( value1 >value2)
print( value1 <value2)
print( value1 <=value2)
print( value1 >=value2)

False
True
False
True
True
False