### Python Task: List

### Section 1: Sets:

### 1.Create a Python set containing the first 10 even numbers {2, 4, 6,8,10}. Write a program to display this set.

In [3]:
x={2,4,6,8,10}
print(x)

{2, 4, 6, 8, 10}

### 2.Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [25]:
x={2,3,4,5,6}
y={6,7,8,9}
z=x.union(y)
print(f"Union Of X and Y :{z}")
a=x.intersection(y)
print(f"Intersection Of X and Y :{a}")
b=x.difference(y)
print(f"Difference Of X and Y :{b}")

Union Of X and Y :{2, 3, 4, 5, 6, 7, 8, 9}
Intersection Of X and Y :{6}
Difference Of X and Y :{2, 3, 4, 5}

### 3.Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:
##### Add a new number to the set.
##### Remove a number from the set.
##### Check if a specific number is in the set.
##### Find the size of the set.

In [66]:
x={23,25,45,90}
print(x)
a=x.add(50)
b=x.remove(45)  
print(f"after updating and deleting elements{x}")

{25, 90, 45, 23}
after updating and deleting elements{50, 23, 25, 90}

In [52]:
#Check if a specific number is in the set: 

x={23,25,45,90}
i=int(input("enter the number"))
if i in x:
    print("Found")
else:
    print("not found")

enter the number 90

Found

In [68]:
# Find the size of the set.
x={23,25,45,90}
len(x)

4

### 4.Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [91]:
x=[9,8,9,6,6,7,23,99]
# type casting into set
a=set(x)
print(a)
b=len(x)-len(a)
print(f"Total Number of Duplicates removed: {b}")

{99, 6, 7, 8, 9, 23}
Total Number of Duplicates removed: 2

### 5.Describe Set and properties of Set with examples

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

## 2 - Tuples:

### 1.Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [131]:
fruits = ("apple", "banana", "cherry","dragon fruit")
for i in fruits:
    print(i)

apple
banana
cherry
dragon fruit

### 2.Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [106]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))

('a', 'b', 'c', 1, 2, 3)
6

### 3.Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [120]:
tuple1 = (1, 2, 3)
x=list(tuple1)
print("Maxium value : ",x[-1])
print("Minimum value : ",x[0])

Maxium value :  3
Minimum value :  1

### 4.Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

Tuple immutability means that once an object is created, it cannot be changed. Tuples are one of Python's immutable data structures. This means that after a tuple is created, you cannot add, remove, or modify its elements

In [173]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### 5.Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [125]:
tuple1=(9,12,25,38,8,6,7,99,999,9999)
list2=list(tuple1)
print("Postions of elements from 3rd to 7th are: ",list2[3:8])

Postions of elements from 3rd to 7th are:  [38, 8, 6, 7, 99]

### 6.Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements

In [128]:
fav1=("Radha","vrindavan","kusmapriya","krishna","giriraj")
fav2={"krishna","Banglore","Ram krishna","ls","Radha","vrindavan"}
x=set(fav1)
y=x.intersection(fav2)
print(y)

{'vrindavan', 'Radha', 'krishna'}

### 7.tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [133]:
tup=(1,2,3,2,4,5,3,4,2)
lis=list(tup)
x=lis.count(2)
print(x)

3

### 8. Access value 20 from the tuple, 
### tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [141]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
lis=list(tuple1)
list1=lis[1]
print(list1[1])

20

### Create a dictionary with key-value pairs for a person's name and age.
### Add a new key-value pair "city" with the value "Delhi" to the person dictionary.
### Remove the key-value pair with the key "age" from the person dictionary.
### Sort the person's dictionary by its keys.

In [177]:
dic={"name":"Krishna","Age":20}
dic["city"]="Delhi"
print(dic)

{'name': 'Krishna', 'Age': 20, 'city': 'Delhi'}

In [179]:
dic.pop("Age")
print(dic)

{'name': 'Krishna', 'city': 'Delhi'}

In [181]:
dic.keys()

dict_keys(['name', 'city'])

In [183]:
sorted(dic)

['city', 'name']